.ppq{
    color: black;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color:rgba(250, 249, 249, 0.521);
margin-top: 40px;
margin-left: 50px;
margin-right: 50px;
border-radius: 30px
}