hr.a{
    background-color:rgba(207, 188, 188, 0.699) ;
    padding-Left:200px;
  }
  div.a{
      padding-bottom: 120px;
      color: #111;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  Nav.Link.a
  {
      padding-left: 10px;
    margin-right: 100px;
    border-radius: 10px;
    
  }
  .wrapper {

    height: 100vh;
  
    width: 100%;
  
    display: flex;
  
    flex-direction: column;
  
    justify-content: center;
  
    align-items: center;
   margin-top: 10px;
   
  }
  .k{
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image:  url("back.jpg") ;
    height: 100%;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .form-wrapper {
  
    width: 400px;
  
    display: flex;
  
    flex-direction: column;
  
    padding: 20px 40px;
  
    border-radius: 10px;
  
    box-shadow: 0px 10px 50px #555;
  
    background-color: #ffffff;
  
  }
  
  
  
  form {
  
    width: 100%;
  
    display: flex;
  
    flex-wrap: wrap;
  
  }
  
  
  
  h1 {
  
    text-align: center;
  
    width: 100%;
  
    color: #111;
  
    font-weight: lighter;
  
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  
  }
  
  
  
  label {
  
    font-size: 0.8em;
  
    margin-bottom: 5px;
  
    color: #222;
  
    font-weight: lighter;
    margin-right: 10px;
  
  
  }
  
  
  
  input,select {
  
    padding: 5px 5px;
  
    margin-top: -5px;
  
    border-radius: 5px;
  
    outline: none;
  
    border: 1px solid #cfcfcf;
  
  }
  
  
  
  input::placeholder,select {
  
    font-size: 1.2em;
  
    font-weight: lighter;
  
    color: #999;
  
  }
  
  
  
  input.error {
  
    border: 1px solid red;
  
  }
  
  
  
  .errorMessage {
  
    color: red;
  
    font-size: 0.75em;
  
    display: relative;
  
  }
  
  
  
  .firstName,.gender {
  
    margin-right: 1%;
  
  }
  
  
  
  .dob {
  
    margin-left: 10px;
  
  }
  
  
  
  .firstName,
  
  .dob,
  
  .email,
  
  .gender,
  
  .state,
  
  .password {
  
    display: flex;
  
    flex-direction: column;
  
    margin-bottom: 15px;
  
  }
  
  
  
  .firstName,s
  
  .dob ,.gender{
  
    width: 49%;
  
  }
  
  
  
  .email,
  
  .password {
  
    width: 100%;
  
  }
  
  
  
  .createAccount {
  
    width: 100%;
  
    display: flex;
  
    flex-direction: column;
  
    align-items: center;
  
  }
  
  
  
  .createAccount button {
  
    background-color: #519e8a;
  
    color: #fff;
  
    border: 2px solid #fff;
  
    width: 100%;
  
    margin-top: 1em;
  
    padding: 8px 0px;
  
    font-size: 1em;
  
    font-weight: lighter;
  
    letter-spacing: 1px;
  
    margin-bottom: 0.25em;
  
  }
  
  
  
  .createAccount button:hover {
  
    color: #519e8a;
  
    background-color: #fff;
  
    border: 2px solid #519e8a;
  
  }
  
  
  
  .createAccount small {
  
    color: #999;
  
    font-weight: lighter;
  
  }