
.b
{
padding-left: 1000px
}
a{
    font-family: 'Homenaje', sans-serif;
    color:rgb(228, 215, 215);
}
 .a1{
     padding-left: 1000px
 }
 .a2{
    padding-left: 10px
}
.navbar-brand
{
    margin-top:-30px
}

nav{
    background-color: rgb(129, 64, 189);
    border-radius: 30px
}